@import url("https://fonts.googleapis.com/css2? family-Inter:wght@100;300;400;500;600&display=swap");
*{
   
    box-sizing: border-box;
    text-align: center;
    font-family: "Inter",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
Header{
    margin: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 8px;
    margin-left: 8px;
    color: rgb(206, 9, 117);
    font-size: 20px;
    font-weight: 1000;
    z-index: 0; 
    cursor: pointer;
}
.app-container {
    /* background-image: url('./images/dark1.jpg');  */
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app-container h1 {
    border-radius: 15px;
    font-weight: 600;
    font-size: 50px;
    color: #0dc3f1;
    border-bottom: 1px solid #08aced;
    padding: 10px 5px;
}
.img{
    padding: 5%;
    box-shadow: 0 0 10px rgpa(0,0,0,0.1);
}
.input-label
{
    display: block ;
    margin: 8px;
    margin-left: 8px;
    color: yellow;
    font-size: 20px;
    font-weight: 1000;
}
input[type="text"]
{
    padding: 12px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 95%;
    font-size: 16px;
    border: 3px solid #ff0e0e;
    border-radius: 10px;
}
button 
{
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease-in;
}
.reset-button{
    background-color: white;
    margin-left: 30px;
}
.reset-button:hover{
    background-color: red;
    box-shadow: 0px 0px 5px red,0px 0px 25px red, 0px 0px 50px red, 0px 0px 100px red;

}
.generate-button
{
    background-color: white;
    margin-left: 30px;
}
.generate-button:hover 
{
    background-color: yellow;
    box-shadow: 0px 0px 5px yellow,0px 0px 25px yellow, 0px 0px 50px yellow, 0px 0px 100px yellow;
}
.download-button 
{
    background-color: white; 
    margin-left: 20px; 
}
.download-button:hover 
{
    background-color: yellow;
    box-shadow: 0px 0px 5px yellow,0px 0px 25px yellow,0px 0px 50px yellow,0px 0px 100px yellow ;
}
.footer 
{
    margin-top: 1%;
    
}
.footer a1
{
text-decoration: none; 
color: hsl(184, 93%, 63%);
font-size: 10px;
font-style: italic;
}
.footer a
{
    margin-left: 5%;
    text-decoration: none; 
    color: rgb(250, 32, 177);
    font-size: 30px;
    font-weight: 1000;
}
Footer {
text-align: end;
text-shadow: #f1efef;
text-decoration: none; 
color: hsl(184, 93%, 63%);
font-size: 10px;
font-style: italic;
}